@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);

navy = #2F3F70
navy-dark = #253256
grey = #EFEFEF

primary = navy
primary-dark = navy-dark
chat-bg = grey

*
  box-sizing border-box
  font-family Roboto
  transition all 0.5s ease

html, body
  margin 0
  width 100%
  height 100%
  overflow hidden

#app, #content
  width 100%
  height 100%