@import url('https://fonts.googleapis.com/css?family=Cardo:400,400italic,700|Roboto:400,300,500,700');

navy = #2F3F70
navy-dark = #253256
grey = #EFEFEF

primary = navy
primary-dark = navy-dark
chat-bg = grey

*
  box-sizing border-box
  font-family Roboto

html, body
  margin 0
  width 100%
  height 100%
  overflow hidden

#app, #content, #react-root
  width 100%
  height 100%