
// instructions for custom styling of file input elements:
// --  http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/

.input-file
  width 0.1px
  height 0.1px
  opacity 0
  overflow hidden
  position absolute
  z-index -1
  
  // & + label
  //   font-size 1.25em
  //   font-weight 700
  //   color white
  //   background-color black
  //   display inline-block
  //   cursor pointer
  
  // &:focus + label,
  // & + label:hover
  //   background-color red
  
  // &:focus + label
  //   outline 1px dotted #000
  //   outline -webkit-focus-ring-color auto 5px