.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #9197a3;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #9197a3;
}