soft-blue = #445BA2
bubble-color = white
bubble-color-me = soft-blue
meta-font-color = #efefef - 50%

.chat-msg-item
  display flex
  display -webkit-flex
  flex-direction column
  align-items flex-start
  padding 3px 0
  
  // .chat-msg-menu
  //   transition opacity 0.2s
  //   opacity 0
  //   pointer-events none
  // &:hover .chat-msg-menu
  //   opacity 1
  //   pointer-events auto
  
  .chat-author
    position absolute
    font-size 12px
    text-align center
    min-width 51px
    top -21px
    color meta-font-color
  .chat-primary
    margin-top 20px
    width 88%
    display flex
    display -webkit-flex
    position relative
  .chat-body
    word-break break-word
  .chat-avatar
    padding 0 6px 6px
    flex-shrink 0
  .chat-bubble
    border-radius 6px
    padding 8px
    margin-bottom 6px
    font-size 12px
    font-weight 300
    background bubble-color
    
    p
      margin 0

    & > div > *
      
      &:first-child
        margin-top 0
      
      &:last-child
        margin-bottom 0

    &:after
      content ''
      position absolute
      top 0
      left 52px
      width 0
      height 0
      border-style solid
      border-width 0 16px 16px 0
      border-color transparent white transparent transparent
    
    .translation
      
      hr
        margin 7px 0
      
      & > div > *
      
        &:first-child
          margin-top 0
        
        &:last-child
          margin-bottom 0


  .chat-timestamp
    font-size 10px
    color meta-font-color
    position relative
    height 18px
    
  .chat-timestamp-string
    position absolute
    left 0
    white-space no-wrap  
  
  &.you
    text-align right
    align-items flex-end
    .chat-primary 
      flex-direction row-reverse
      
    .chat-author
      right 4px

    .chat-bubble
      text-align left
      color white
      background bubble-color-me
      white-space pre-wrap
      a
        color white
      &:after
        content ''
        position absolute
        top 0
        right 52px
        left auto
        width 0
        height 0
        border-style solid
        border-width 16px 16px 0 0
        border-color bubble-color-me transparent transparent transparent
    
    .chat-timestamp-string
      left auto
      right 0
      