.voteapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.voteapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.voteapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}